<nav class="bg-custom-400">
  <ul class="flex flex-row justify-around text-custom-500 font-bold">
    <li class="border border-custom-500 w-full text-center p-4"><a routerLink="inicio">Inicio</a></li>
    <li class="border border-custom-500 w-full text-center p-4"><a routerLink="libros">Libros</a></li>
    <li class="border border-custom-500 w-full text-center p-4"><a routerLink="platos">Platos</a></li>
    <li class="border border-custom-500 w-full text-center p-4"><a routerLink="recetas">Recetas</a></li>
  </ul>
</nav>
